.subheader {
  position: sticky;
  /* z-index: 0; */
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d6c8b5;
  background-color: #f4ebdc;
}

.subheader__text {
  display: flex;
  align-items: center;
  height: 30px;
  width: 340px;
  margin: 4px 0 0 50px;
}

.subheader__textfield {
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #6a3f33;
}

.subheader__button {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #d62300;
  outline: none;
  cursor: pointer;
}
