.home {
  display: flex;
  object-fit: contain;
  height: 600px;
  /* margin-top: -107px; */
  position: relative;
  /* background-image: url("https://cdn.sanity.io/images/czqk28jt/prod_bk_us/51688dac53c68c8e151671ff7d570274b04fbb32-1600x600.png?w=4320&fm=png&q=40&fit=max"); */
  background-image: url("https://cdn.sanity.io/images/czqk28jt/prod_bk_us/15be2d36d57ef621d443b658b3cd4a8605ce1af0-1600x600.png?w=1600&fm=png&q=40&fit=max");
  background-size: cover;
}

.home__text {
  display: flex;
  align-items: center;
  font-size: 160px;
  line-height: 140px;
  font-family: "Teko", sans-serif;
  color: white;
  font-weight: 700;
  padding: 250px 0 0 50px;
  text-shadow: -2px 2px 0 #be5b0e;
}

.home__buttons > button {
  border: none;
  outline: none;
  height: 50px;
  border-radius: 50px;
  font-family: "Teko", sans-serif;
  font-size: 26px;
  color: rgba(190, 91, 11, 1);
  font-weight: 500;
  padding: 10px 50px 16px 50px;
}

.home__pickup {
  margin: 0 30px 0 50px;
}

.home__buttons > button:hover {
  background-color: #f5e6da;
}
