* {
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f4ebdc;
}

.header__top {
  display: flex;
  align-items: center;
  text-align: center;
  height: 92px;
  width: 100%;
  border-bottom: 3px solid #d6c8b5;
  padding: 30px;
  justify-content: space-between;
}

.header__nav {
  display: flex;
}

.header__order,
.header__restaurants,
.header__offers,
.header__trending,
.header__more {
  display: flex;
  color: #502316;
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  margin: 4px 0 0 20px;
}
/* :hover {
  color: #d62300;
} */

.header__center {
  margin-right: 180px;
}

.header__logo {
  background-color: transparent;
  height: 110px;
  margin-top: 15px;
  padding-right: 90px;
}

.link {
  text-decoration: none;
}

.header__right {
  display: flex;
}

.header__signup {
  background-color: #d62300;
  border-radius: 20px;
  border: 3px solid #d62300;
  align-items: center;
  padding: 0 13px 0 13px;
  width: 90px;
  font-size: 16px;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  margin-left: 15px;
  outline: none;
  cursor: pointer;
}

.header__signup:hover {
  background-color: hsl(10, 98%, 34%);
  border: 3px solid hsl(10, 98%, 34%);
}

.header__cart {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #d62300;
  align-items: center;
  padding: 0 13px 0 13px;
  width: 90px;
  font-size: 16px;
  color: #d62300;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  margin-left: 15px;
  outline: none;
  cursor: pointer;
  background-color: #f4ebdc;
}

.header__cart:hover {
  background-color: #f8e0d9;
}

.header__bottom {
  border-bottom: 2px solid #d6c8b5;
}

.header__bottomText {
  display: flex;
  align-items: center;
  height: 30px;
  width: 340px;
  margin: 4px 0 0 50px;
}

.header__bottomTextfield {
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #6a3f33;
}

.header__bottomButton {
  border: none;
  background-color: transparent;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #d62300;
  outline: none;
  cursor: pointer;
}
